.trailer-iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw; /* 16:9 */
    min-height: 100vh;
    min-width: 177.77vh; /* 16:9 invertido */
    transform: translate(-50%, -50%);
    pointer-events: none;
    border: none;
  }
  
.hero-edge {
  box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.45);
}
